* {
    margin: 0;
    padding: 0;
}

/* ------------ MOBILE ------------ */

.body-main {
  display: grid;
  margin: 0;
  padding: 0;
}

.mentorship-schedule-title {
  text-align: center;
  text-align: top;
}

.main-first-larger-square {
  display: flex;
  flex-direction: column-reverse;
  width: auto;
}

.first-square-appointment {
  width: auto;
  height: auto;
}

/* First line of first square with title and subtitles */
.appointment-list-title-legend {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.appointment-list-title-legend h3 {
  margin: 0.7rem;
}

.legends {
  max-width: 343px;
  max-height: 248px;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.content-legend {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%; 
  margin: 0 0.3rem 0 0;
  background-color: rgb(254, 85, 23);
}

/* Second line of first square with title and subtitles */
.appointment-content-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 2%;
  border-radius: 10px;
  
  height: auto;
  width: auto;
  
  background-color: #A8A8D0;
}

.appointment-list-mentor-photo {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  height: auto;
}

.appointment-list-mentor-photo img {
  margin: 1rem 1.5rem;
}

.appointment-list-mentor-photo h2, h4 {
  margin-block: 0;
  margin: 0 1.5rem;
}

.mentor-photo {
  max-width: 115px;
  max-height: 115px;
  width: auto;
  height: auto;
  border-radius: 50%;
}

.date-hour {
  display: flex;
  align-items: center;
  height: auto;
  width: auto;
  display: inline-flex;
}

#date, #hour {
  margin: 0.4rem 3rem 0.8rem 3rem;
  font-size: 14px;
}

.cancel-send-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cancel-send-buttons #cancel-button, #send-button {
  margin: 0.4rem 1.5rem 0.8rem 1.5rem;
  font-size: 14px;
  padding: 1rem;
  border-radius: 10px;
}

.cancel-send-buttons #cancel-button {
  background-color: rgba(235, 87, 87, 1);
}

.cancel-send-buttons #send-button {
  background: rgba(254, 85, 23, 1);
}

/* Second square main */
/* Informations */
.second-square-info-calend {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

.information {
  border: 0.1rem solid rgb(98, 99, 171);
  margin: 20px;
  padding: 5%;
  width: auto;
  align-items: center;
}

/* Calendário */
.calendar-main {
  width: auto;
  height: auto;
}

/*------------ DESKTOP ------------*/

@media (min-width: 650px) {
  .body-main {
  display: grid;
  grid-template-columns: 12.8% auto;
  grid-template-rows: auto auto;
  grid-gap: 1rem;

  width: 80%;
  height: 100%;
  }

  #menu {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .container-main {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100vw;
  }

  .title {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .mentorship-schedule-title {
   text-align: left;
  }

  .main-first-larger-square {
    max-width: 1434px;
    max-height: 787px;
    width: auto;

    display: flex;
    flex-direction: row;
  }

  .first-square-appointment {
    border-radius: 10px;
    background-color: rgb(224, 224, 224);
  }

  /* Appointment list */
  .appointment-content-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    
    align-items: flex-start;
    justify-content: left;

    height: 13.5%;
    background: #FFFFFF;
  }

  /*Legends*/
  .appointment-list-title-legend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .legends {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
 
  /*Mentorships*/
  .appointment-list-mentor-photo {
    width: auto;
  }
  
  .appointment-list-mentor-photo img {
    height: 70px;
    width: 70px;
  
    margin: 1rem 1.5rem;
  }

  .appointment-list-mentor-photo h2, h4 {
    margin-block: 0;
    margin: 0 0.1rem;
  }

  .date-hour {
    display: inline-flex;
    justify-content: center;
  
    height: auto;
  }

  /*Buttons*/
  .cancel-send-buttons {
    
  }
  
  .cancel-send-buttons #cancel-button, #send-button {
    margin: 7% 0 0 0;
    font-size: 14px;
    padding: 0.6rem;
    border-radius: 10px;
    flex-wrap: nowrap;
  }

  /* Calendar */
  .calendar-main {
    width: 80%;
    height: 90%;
    position: relative;
 
  }

  /* Informations */
  .second-square-info-calend {
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;

    border: 10px;
    border-color: rgb(65, 14, 14);
  }

  .information {
    border: 0.1rem solid rgb(98, 99, 171);
    
    padding: 2%;
    width: 550px;
  }

}