/* MOBILE */
body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.grid-main {
  width: 100%;
}
@media (min-width: 920px) {
  .grid-main {
    padding: 0;
    display: grid;
    grid-template-columns: 12.8% 78.8%;
    grid-template-rows: auto auto;
    grid-gap: 1rem;
  }
}
.grid-main .research {
  width: 100%;
  height: 11rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 920px) {
  .grid-main .research {
    grid-column: 2/3;
    grid-rows: 1/2;
  }
}
.grid-main .research-search {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.grid-main .research-search-select {
  border: 2px solid #36357E;
  border-radius: 10px;
  height: 50px;
}
.grid-main .research-search-filter {
  display: flex;
  width: 77.5%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.grid-main .research-search-filter-input {
  width: 20rem;
  border: 2px solid #36357E;
  border-radius: 10px;
  height: 50px;
  margin-left: 2%;
}
.grid-main .research-search-filter button {
  height: 50px;
  color: white;
  width: 9.7rem;
  background-color: #FE5517;
  margin: 2.2rem auto;
  border-radius: 10px;
  margin: 0;
}
.grid-main .research #sjmentor {
  margin: 0;
  border: 2px solid #FE5517;
  width: 9.7rem;
  height: 50px;
  border-radius: 10px;
  background-color: transparent;
}
.grid-main .research .logo {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-main .research .logo-img {
  background-image: url("../../assets/icons/logo.svg");
  background-repeat: no-repeat center center;
  width: 261px;
  height: 75px;
}
.grid-main #menu {
  position: absolute;
  top: 0;
}
@media (min-width: 920px) {
  .grid-main #menu {
    position: relative;
    grid-column: 1/2;
    grid-row: 1/3;
  }
}
.grid-main .main {
  width: 100%;
  height: auto;
  margin-right: 8.4%;
}
.grid-main .main .mentors {
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.grid-main .main .mentors-card {
  width: 100%;
  max-width: 300px;
  height: 440px;
  margin: 16px;
  background-color: #eee;
  border-radius: 0.6rem;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
.grid-main .main .mentors-card-name {
  font-size: 20px;
  margin: 0.5rem 0 0.7rem 0.7rem;
}
.grid-main .main .mentors-card h4 {
  margin: 0 0 0.7rem 0.7rem;
}
@media (min-width: 920px) {
  .grid-main .main .mentors-card {
    max-width: 462px;
    max-height: 440px;
    display: flex;
    flex-flow: row wrap;
  }
}
.grid-main .main .mentors-card-img {
  width: 100%;
  height: 14.3rem;
  border-radius: 0.6rem 0.6rem 0 0;
  background-image: url("/assets/img/perfil mulher.jpg");
  background-position: center;
  background-repeat: no-repeat center center;
  background-size: cover;
  box-sizing: border-box;
  overflow: hidden;
}
.grid-main .main .mentors-card-description {
  width: 100%;
  height: auto;
}
.grid-main .main .mentors-card-description-specialty {
  display: flex;
  flex-flow: row wrap;
}
.grid-main .main .mentors-card-description-specialty h4 {
  display: block;
  border: 2px solid #36357E;
  border-radius: 0.5rem;
  margin: 0.5rem;
  box-shadow: 1px 1px 3px;
  padding: 0.5rem;
}
.grid-main .main .mentors-card-btn {
  height: 50px;
  color: white;
  width: 9.7rem;
  background-color: #FE5517;
  margin: 2.2rem auto;
  border-radius: 10px;
}
@media (min-width: 920px) {
  .grid-main .research {
    grid-column: 2/3;
    grid-rows: 1/2;
  }
  .grid-main .main {
    height: auto;
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
  }
  .grid-main .main .mentors {
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .grid-main .main .mentors-header {
    height: 3rem;
  }
}

/*# sourceMappingURL=style-index.css.map */
