#menu {
  width: auto;
  height: auto;
  z-index: 10;
}
#menu .navBtn {
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 6vw;
  z-index: 11;
  margin-top: 1rem;
  background-image: url("../../assets/icons/aside-mobile-icon.svg");
  background-repeat: no-repeat center center;
  background-size: 100%;
}
@media (min-width: 920px) {
  #menu .navBtn {
    display: none;
  }
}
#menu .nav-menu {
  display: block;
  width: 70vw;
  background-color: #36357E;
  box-sizing: border-box;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
  display: flex;
  flex-direction: column;
}
#menu .nav-menu .profile {
  width: 100%;
  height: 20vh;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#menu .nav-menu .profile img {
  border-radius: 50%;
  width: 5rem;
  height: auto;
  margin: 2rem 0.3rem;
}
#menu .nav-menu .nav {
  width: 80%;
  height: 50vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#menu .nav-menu .nav-item {
  text-align: center;
  margin-top: 1.5rem;
}
#menu .nav-menu .nav-item a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  color: white;
}
@media (min-width: 920px) {
  #menu .nav-menu {
    display: block;
    width: 40%;
    background-color: #36357E;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    transform: translateX(0%);
    transition-duration: 1s;
    transform-origin: 0% 0%;
  }
  #menu .nav-menu .profile {
    width: 100%;
    height: 15vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #menu .nav-menu .profile img {
    border-radius: 50%;
    width: 3rem;
    height: auto;
    margin: 2rem 0.3rem;
    transition: width 0.4s;
  }
  #menu .nav-menu .profile-info {
    display: none;
  }
  #menu .nav-menu .nav {
    width: 80%;
    height: 65vh;
    margin-top: 15vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  #menu .nav-menu .nav-item {
    box-sizing: border-box;
  }
  #menu .nav-menu .nav-item img {
    width: 100%;
    height: auto;
  }
  #menu .nav-menu .nav-item a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    margin-top: 3;
  }
  #menu .nav-menu .nav-item a h4 {
    display: none;
  }
  #menu .nav-menu .nav #nav-item-out-line {
    margin-top: 8rem;
  }
  #menu .nav-menu:hover {
    display: block;
    transition: all 0.9s ease-out;
  }
}
@media (min-width: 920px) and (min-width: 920px) {
  #menu .nav-menu:hover {
    width: 100%;
  }
  #menu .nav-menu:hover .profile {
    align-items: center;
  }
  #menu .nav-menu:hover .profile img {
    width: 8rem;
  }
  #menu .nav-menu:hover .profile-info {
    display: block;
    text-align: center;
  }
  #menu .nav-menu:hover .profile-info a {
    color: white;
    margin-top: 1rem;
  }
  #menu .nav-menu:hover .nav {
    height: 50vh;
    box-sizing: border-box;
  }
  #menu .nav-menu:hover .nav a {
    display: block;
    text-decoration: none;
  }
  #menu .nav-menu:hover .nav a h4 {
    display: block;
  }
  #menu .nav-menu:hover .nav-item {
    text-align: center;
  }
  #menu .nav-menu:hover .nav-item img {
    width: 50%;
    height: auto;
  }
  #menu .nav-menu:hover .nav-item h4 {
    margin-top: 1rem;
  }
  #menu .nav-menu:hover .nav #nav-item-profile {
    width: 100%;
    height: auto;
  }
  #menu .nav-menu:hover .nav #nav-item-profile a img {
    width: 4.5rem;
    height: auto;
  }
  #menu .nav-menu:hover .nav #nav-item-out-line {
    margin-top: 9vh;
    width: 100%;
    height: auto;
  }
}
#menu .nav-menu-open {
  transform: translateX(0);
}

/*# sourceMappingURL=style-aside.css.map */
