body
   margin: 1.6rem
   font-family: 'Montserrat', sans-serif
   font-weight: 500
   box-sizing: border-box

.form-profile
   background-color: #E5E5E5
   margin: 0 auto
   box-sizing: border-box
   border-radius: 1rem
         
   #change-photo
      display: block
      text-align: center
      color: black
      padding-top: 1.6rem

   input 
      display: block
      padding: 1.3rem 1.2rem
      justify-content: left
      border: 1px solid #716C6C
      border-radius: .6rem
      margin: 0 auto
      margin-top:.5rem
      width: 80%

   .label-input
      margin-top: 2.5rem
      text-align: center

   .social-media-title 
      font-weight: 600

   #edit-profile-save
      background-color: #5B5B5B
      border-radius: 1rem
      padding: 1rem 3.4rem
      color: white 
      font-width: 600

.open-button
   background-color: #E5E5E5
   text-align: left
   margin: 2.4rem 0
   border-radius: 1rem
   padding-top: .9rem 
   padding-bottom: .9rem
   padding-left: 1.6rem


   
//font-width ainda n existe, é preciso pegar no google fonts e linkar nas páginas 

      