.form-profile
   background-color: #E5E5E5
   input 
      display: block
      padding: 1.3rem 1.2rem
      justify-content: left
      border: 1px solid #716C6C
      border-radius: .6rem
      
   #change-photo
      display: block

   &-label
      