@use 'responsive-mixin'

body
   margin: 1.6rem
   font-family: 'Montserrat', sans-serif
   font-weight: 500

.main-header
   .cover-image
      display: none
      @include responsive-mixin.desktop
         display: inline

.mentor-profile
   background-color: #F0EDED
   padding: 7.7rem 3.8rem 4.2rem 3.8rem
   border-radius: 1rem
   position: relative

   &-image
      background-image: url(../../assets/img/profile.jfif)
      background-size: cover
      background-position: center
      width: 50%
      border-radius: 50%
      max-width: 15rem
      height: 15rem
      margin: 2rem
      position: absolute
      //left: 94px
      top: -98px

   &-job-role 
      padding-bottom: 1rem 
   
   &-qualification
      padding: 2rem 0

   &-social-media
      padding-top: 2rem

.schedule 
   &-button
      padding: 1.35rem 1.65rem
      width: 20.2rem
      border-radius: 1rem
      margin-top: 6.2rem
      margin-bottom: 6.5rem
      background-color: black
      color: white

.mentor-profile-platform //platforms icons 
   &-title
      margin-top: 3.2rem
      margin-bottom: 1.8rem

.about
   text-align: left
   &-title 
      font-weight: 700
      margin-top: 5.2rem
      margin-bottom: 1.2rem
   &-biografy
      margin-bottom: 1.2rem
      font-weight: 300
   .skills-list
      &-title
         margin-bottom: 1.2rem
         font-weight: 700
      &-topic
         display: inline-block
         margin-bottom: 1.2rem
         margin-right: 1.3rem
         background-color: #C4C4C4
         padding: .6rem 2rem
         border-radius: .5rem

.schedule
   &-title
      text-align: left
      font-weight: 700
      margin-top:3.2rem

   &-table 
      padding:.8rem
      border: .1rem solid rgba(0, 0, 0, 0.4)
      margin: 0 auto

      .schedule-day
         padding: .5rem 2rem
      
      .schedule-time
         border: .1rem solid rgba(0, 0, 0, 0.4)





         
