@use 'mixins'
@use 'responsive-mixin'
@use 'colors'

/* MOBILE */
body
    margin: 0 auto
    padding: 0
    box-sizing: border-box
    font-family: 'Montserrat', sans-serif
    font-weight: 500
   
.grid-main 
    width: 100%

    @include responsive-mixin.desktop
        padding: 0
        
        display: grid

        grid-template-columns: 12.8% auto
        grid-template-rows: auto auto
        grid-gap: 1rem

    .research
        border: 1px solid blue
        width: 100%
        height: 11rem
        width: 100%
        
        display: flex
        flex-direction: column
        align-items: center

        @include responsive-mixin.desktop
            border: 1px solid blue

            grid-column: 2 / 3
            grid-rows: 1 / 2

        
        &-search
            width: 100%

    
    .menu
        position: absolute
        top: 0

        @include responsive-mixin.desktop
            position: relative

            grid-column: 1 / 2
            grid-row: 1 /3



    .main
        width: 100%
        height: auto
    
        .mentors
            height: auto

            display: flex
            flex-flow: row wrap
            justify-content: center

            &-card 
                width: 100%
                max-width: 462px
                height: 440px
                margin: 16px
                border-radius: .6rem
                box-sizing: border-box
                box-shadow: 2px 2px 5px

                font-weight: bold

                display: flex
                flex-direction: column

                &-name
                    margin-top: .5rem
                    margin-bottom: .7rem 
                
                h4
                    margin-bottom: .3rem
                
                @include responsive-mixin.desktop
                    max-width: 462px
                    max-height: 440px

                    display: flex
                    flex-flow: row wrap

                &-img
                    width: 100%
                    height: 14.3rem
                    border-radius: .6rem .6rem 0 0
                    background-image: url("/assets/img/perfil mulher.jpg")
                    background-position: center
                    background-repeat: no-repeat
                    background-size: 24rem
                    box-sizing: border-box
                    overflow: hidden
                
                &-description 
                    width: 100%
                    height: auto

                    &-specialty
                        display: flex
                        flex-flow: row wrap
                    
                    &-specialty h4   
                        display: block
                        padding: .5rem
                        background-color: #bbb
                        margin: .5rem
                        border-radius: .5rem
                        box-shadow: 1px 1px 3px 
                
                &-btn
                    background-color: colors.$primary
                    width: 9.7rem
                    height: 2.8rem
                    border-radius: 10px
                    color: white
                    margin: 2.2rem auto


        //DESKTOP
    @include responsive-mixin.desktop

        .research
            border: 1px solid blue

            grid-column: 2 / 3
            grid-rows: 1 / 2

        .main
            border: 1px solid red 
            height: auto 

            grid-column: 2 / 3
            grid-row: 2 / 3

            display: flex
            flex-direction: row

            .mentors
                height: auto
                    
                display: flex
                flex-wrap: wrap

                &-header
                    border: 1px solid black
                    height: 3rem



                

            

            

    
