@use 'responsive-mixin'
//MENU LATERAL E PERFIL DO USUÁRIO


.menu
    width: auto
    height: auto
    z-index: 10 

    // BOTÃO DO MOBILE
    #nav-btn
        width: 7rem
        height: 7rem
        
        display: flex
        justify-content: center

        img
            margin: .4rem

        
        @include responsive-mixin.desktop
            display: none
    
    #nav-menu
        display: block
        width: 70vw
        background-color: #ccc
        box-sizing: border-box

        display: flex
        flex-direction: column
        

        .profile
            width: 100%
            height: 20vh
            box-sizing: border-box

            display: flex
            flex-direction: column
            align-items: center

            img
                border-radius: 50%
                width: 5rem
                height: auto
                margin: 2rem .3rem
        
        .nav
            width: 80%
            height: 50vh
            margin: 0 auto
                
            display: flex
            flex-direction: column
            align-items: center

            
            &-item
                text-align: center
                margin-top: 1.5rem

                a
                    display: block
                    padding: .5rem
                    text-decoration: none


                    // ELEMENTOS DOS MENU

        @include responsive-mixin.desktop
            display: block
            width: 40%
            background-color: #ccc
            display: flex
            flex-direction: column
            align-items: center
            height: 100%

            transition-duration:1s
            transform-origin: 0% 0% 

                         // INFORMAÇÕES DO USUÁRIO               
            .profile
                width: 100%
                height: 15vh
                box-sizing: border-box

                display: flex
                flex-direction: column
                align-items: center

                img
                    border-radius: 50%
                    width: 4.5rem
                    height: auto
                    margin: 2rem .3rem

                &-info 
                    display: none

                        //NAVEGADOR DAS PÁGINAS (MENU)       
            .nav
                width: 80%
                height: 50vh
                margin-top: 10vh
                
                display: flex
                flex-direction: column
                align-items: center
                justify-content: flex-start
            
                &-item
                    margin: 2rem auto

                    a
                        display: block
                        padding: .5rem
                        text-decoration: none
                        
                        h4
                            display: none
                    
                #nav-item-out-line
                    margin-top: 15vh
                                                // AÇÃO AO PASSAR O MOUSE
    #nav-menu:hover
        display: block
        transition: all .5s ease-out

        @include responsive-mixin.desktop
            width: 100%
               
                // INFORMAÇÕES DO USUÁRIO
            .profile
                align-items: center
                img
                    width: 8rem

                &-info
                    display: block
                    text-align: center

                    a
                        color: black
                        margin-top: 1rem
                    
                             //NAVEGADOR DAS PÁGINAS (MENU)

            .nav
                height: 50vh
                box-sizing: border-box 

                a
                    display: block
                    text-decoration: none

                    h4
                        display: block

                &-item
                    text-align: center

                    h4
                        margin-top: 1rem

                #nav-item-out-line
                    margin-top: 9vh


                
